language: php

php:
  - 5.5

addons:
  code_climate:
    repo_token:
      secure: "Dzo3s4BDwpCU7HtgBfmmruAXWYFDqJ55rkdwtrEYkInZMlMR3dpnaqseatM76bF4KdCXHX8bOPc2cvdBwmQof8feiC/b5Hx7OvAGo04cNBs6HIixmKuzYGC/CoT2zxaMlFHet1iP5GHQUMdBcQUxN6lblEVhjhUs/xI9WzSRXuOnKAqVHeMFBQEwVnyf/UFEAYOG71esDsV1ZfNM0tm0ycBPUO7QEslzwN91RoSNarHS71yeRVcvedpssmFOKPRKKWVU2v7g53nNM1wqp3xsgQo1yOHSeY17Kd4dYfP3/1TR1yab/SXxq+VjPb45+ElhZzclfzIdWIRAn95YQYytfkSzgLqRpKjgJWtECl80JiyHiTfIINJw75yJuFADZNendsRUTjJv6cS3gejL5JBMcKqwzuNiNnY7ItNYiCHe8F0VdnbU0VRZqS0N9f8qDwBVtm43jKuMiQshn+yPeKQm2sLn7laLBw9tMLYguTD9Vz8mrehUpWhubV5j21doMDgs1nw+PFhfZqTjokj/5GJcgw73kVzXHmkKQl6GZFbKr3BmkIPiKJhfa9GiPHOLvfEv8/qptG7z0Bftj66+b1cTwNtftNEi2rAtrv2LzxjKgGT3zuTN3xzYILybFf3EoCRCHI27FVKohIMDSTfGHoxkxp8mIY//GYOAw7KwTup9xas="

before_script:
  - composer install --prefer-source --no-interaction --dev
  - composer dump-autoload

script: phpunit

after_script:
  - vendor/bin/test-reporter